RewriteEngine On
#Bật chế độ đổi Url

RewriteRule "^([a-zA-Z0-9-]+)-([0-9]+).html$" "product-sit.php?tenmathang=$1&id=$2"
#Chuyển Url trang sản phẩm thành dạng .html để tối ưu SEO

RewriteRule ^(.*)\.html$ $1.php [L]
#Chuyển toàn bộ trang từ .php về .html

DirectoryIndex home.html
#Cài đặt trang mặc định khi truy cập

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#Chuyển http qua https

ErrorDocument 404 http://localhost/SIT/404.html
