RewriteEngine On

#RewriteRule ^EditSPh/([^/\.]+)/?.php$ EditSPh.php?id=$1 

#RewriteRule ".html" ".php"
RewriteRule "^([0-9]+)_([a-zA-Z0-9-_]+).html$" "product-sit.php?id=$1&tenmathang=$2"
RewriteRule ^(.*)\.html$ $1.php [L]